.popover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 350px;
  background-color: gray;
  border: 1px white solid;
  border-radius: 4px;
  /* transition-duration: 0.5s; */
  cursor: pointer;
  margin-top: o;
}

.logo{
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
  transform: rotate(180deg);
  align-items: center;

  }

.crossIcon {
  cursor: pointer;
}

.popoverContent {
  display: flex;
  flex-direction: column;
}